{% extends "nexus/base.html" %}

{% block title %}| Contact{% endblock %}

{% block content %}

<h1>Contact</h1>
    {{ contact.fullname }} - 
    {% for role in contact.role_set.all %}
        {{ role.role }}{% if not forloop.last %},
        {% endif %}
    {% endfor %}
<br />
    {{ contact.telephone_mobile }}
<br />
    {{ contact.email }}
<br />
    <a href="{% url 'nexus:contact_update' contact.id %}">Edit</a>
<br />
    <a href="{% url 'nexus:contact_delete' contact.id %}">Delete</a>
{% endblock %}
