{% extends "nexus/base.html" %}

{% block title %}| Contacts{% endblock %}

{% block content %}

{% if contact_list %}
    <ul>
    {% for contact in contact_list %}
        <li><a href="{% url 'nexus:contact_detail' contact.id %}">{{ contact.fullname }}</a> - 
    {% for role in contact.roles.all %}
        {{ role.role }}{% if not forloop.last %},
        {% endif %}
    {% endfor %}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>Please add a contact.</p>
{% endif %}
<p>
<a href="{% url 'nexus:contact_create' %}">New Contact</a>
{% endblock %}
